@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #020617; /* slate-950 */
  --foreground: #f8fafc; /* slate-50 */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans), Inter, system-ui, sans-serif;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Fix browser autofill styling for dark mode inputs */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #030712 inset !important; /* bg-slate-950 color */
    -webkit-text-fill-color: #f8fafc !important; /* text-white */
    transition: background-color 5000s ease-in-out 0s;
}
